body {
    background: radial-gradient(#c2c2c2 8%, transparent 8%), white;
    background-position: 0 0, 25px 25px;
    background-size:25px 25px;
    min-height: 100vh;
    padding-top:5%;
  }
  @import url('https://fonts.googleapis.com/css?family=Roboto:700');
  @keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    40%, 60% { transform: translate3d(0, 50%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }
  @keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }
  .animated-title {
    color: #222;
    font-family: Roboto, Arial, sans-serif;
    height: 70vmin;
    text-align: right;  
    padding:2%;
    position: block;
    margin: 0 auto;
    width: 90vmin;
  }

  .animated-title > div {
    height: 50%;
    overflow: hidden;
    position: block;
    width: 100%;
  }

  .animated-title > div div {
    font-size: 12vmin;
    padding: 2vmin 0;
    position: block;
  }

  .animated-title > div div span {
    display: block;
  }

  .animated-title > div.text-top {
    border-bottom: 2vmin solid #000;
    top: 0;
    width: 100%;
  }

  .animated-title > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
  }
  .animated-title > div.text-top div span:first-child {
    color: #767676;
  }
  .animated-title > div.text-bottom {
    bottom: 0;
  }
  .animated-title > div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }
  
