.Header__shape {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: cubic-bezier(0.18, 1.17, 0.03, 1.46);
          animation-timing-function: cubic-bezier(0.18, 1.17, 0.03, 1.46);
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

body {
  background: radial-gradient(#c2c2c2 8%, transparent 8%), white;
  background-position: 0 0, 25px 25px;
  background-size: 25px 25px;
  min-height: 100vh;
}

.Header {
  position: relative;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Header__svg {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
  will-change: transform;
}

.Header__title {
  font-family: Avenir, Futura, 'Open Sans', 'Gill Sans', 'Helvetica Neue', Ariel, sans-serif;
  font-weight: bold;
  font-size: 6vw;
  margin: 0;
}

.bigSquare {
  -webkit-animation-name: bigSquare;
          animation-name: bigSquare;
}

@-webkit-keyframes bigSquare {
  from {
    -webkit-transform: translateY(10%) rotate(-80deg) scale(0);
            transform: translateY(10%) rotate(-80deg) scale(0);
  }
  to {
    -webkit-transform: translateY(0) rotate(0deg) scale(1);
            transform: translateY(0) rotate(0deg) scale(1);
  }
}

@keyframes bigSquare {
  from {
    -webkit-transform: translateY(10%) rotate(-80deg) scale(0);
            transform: translateY(10%) rotate(-80deg) scale(0);
  }
  to {
    -webkit-transform: translateY(0) rotate(0deg) scale(1);
            transform: translateY(0) rotate(0deg) scale(1);
  }
}

.littleSquare {
  -webkit-animation: littleSquare 2s  infinite alternate;
          animation: littleSquare 2s  infinite alternate;
}

@-webkit-keyframes littleSquare {
  from {
    -webkit-transform: translate(226%, 183%) rotate(140deg) scale(0);
            transform: translate(226%, 183%) rotate(140deg) scale(0);
  }
  to {
    -webkit-transform: translate(0%, 0%) rotate(0deg) scale(1);
            transform: translate(0%, 0%) rotate(0deg) scale(1);
  }
}

@keyframes littleSquare {
  from {
    -webkit-transform: translate(226%, 183%) rotate(140deg) scale(0);
            transform: translate(226%, 183%) rotate(140deg) scale(0);
  }
  to {
    -webkit-transform: translate(0%, 0%) rotate(0deg) scale(1);
            transform: translate(0%, 0%) rotate(0deg) scale(1);
  }
}

.triangle {
  -webkit-animation: triangle 4s  infinite alternate;
          animation: triangle 4s  infinite alternate;
}

@-webkit-keyframes triangle {
  from {
    -webkit-transform: rotate(-140deg) scale(0);
            transform: rotate(-140deg) scale(0);
  }
  to {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

@keyframes triangle {
  from {
    -webkit-transform: rotate(-140deg) scale(0);
            transform: rotate(-140deg) scale(0);
  }
  to {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

.hoop {
  -webkit-animation: hoop 2.5s  infinite alternate;
          animation: hoop 2.5s  infinite alternate;
}

@-webkit-keyframes hoop {
  from {
    -webkit-transform: translate(-160%, -33%) scale(0);
            transform: translate(-160%, -33%) scale(0);
  }
  to {
    -webkit-transform: translate(0%, 0%) scale(1);
            transform: translate(0%, 0%) scale(1);
  }
}

@keyframes hoop {
  from {
    -webkit-transform: translate(-160%, -33%) scale(0);
            transform: translate(-160%, -33%) scale(0);
  }
  to {
    -webkit-transform: translate(0%, 0%) scale(1);
            transform: translate(0%, 0%) scale(1);
  }
}

.bigCircle {
  -webkit-animation-name: bigCircle;
          animation-name: bigCircle;
}

@-webkit-keyframes bigCircle {
  from {
    -webkit-transform: scale(0) translate(60%, 3%);
            transform: scale(0) translate(60%, 3%);
  }
  to {
    -webkit-transform: scale(1) translate(0%, 0%);
            transform: scale(1) translate(0%, 0%);
  }
}

@keyframes bigCircle {
  from {
    -webkit-transform: scale(0) translate(60%, 3%);
            transform: scale(0) translate(60%, 3%);
  }
  to {
    -webkit-transform: scale(1) translate(0%, 0%);
            transform: scale(1) translate(0%, 0%);
  }
}

.littleCircle {
  -webkit-animation: littleCircle 2s  infinite alternate;
          animation: littleCircle 2s  infinite alternate;
}

@-webkit-keyframes littleCircle {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes littleCircle {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.subscription {
  font-family: Avenir, Futura, 'Open Sans', 'Gill Sans', 'Helvetica Neue', Ariel, sans-serif;
  font-weight: bold;
  font-size: 2vw;
  margin: 0;
  text-align: center;
}

.imgs {
  width: 80%;
  margin: 0 auto;
  padding: 5%;
  text-align: center;
}

.imgs img {
  width: 100%;
}
/*# sourceMappingURL=index.css.map */